@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=Bellefair&family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Syne:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Be+Vietnam+Pro:wght@400;500;600;700;800&family=Bellefair&family=Inter:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:wght@100;300;400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Syne:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap');

/* font-family: 'Bellefair', serif; */


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    overflow: hidden ;
}

header{
    padding: 60px 0px 0px 120px;
}
.nav-container{
    display: flex;
    gap: 500px;
    align-items: center;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
}
nav{
    /* background: red; */
    width: 100%;
    backdrop-filter: blur(50px);
    background: rgba(14, 14, 57, 0.256);
    padding: 30px 30px 30px;
    border-radius: 15px;
}
nav ul li a{
    color: #fff;
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
}
nav ul li .active:before{
    position: absolute;
    height: 3px;
    background: #fff;
    content: '';
    top: 250%;
    width: 100%;
    
}
nav ul li a:hover:before{
    position: relative;
    transition: transform 1s ease-in-out ; 
}
nav ul li a:hover:before{
    position: absolute;
    height: 3px;
    background: #fff;
    content: '';
    top: 250%;
    left: 15%;
    right: 15%;
    width: 70%;
    transform:scale(1.2); 
}
.logo{
    position: relative;
}
.logo:before{
    position: absolute;
    height: 1px;
    backdrop-filter: blur(50px);
    background: #aeacac;
    content: '';
    top: 50%;
    left: 150%;
    width: 1050%;
    z-index: 100;
}
.menu{
    display: none;
}
.menu svg:last-child{
    display: none;
}
*{
    text-decoration: none;
    list-style-type: none;
    margin: 0 !;
    padding: 0;
}

/* home page starts */
.home-container{
    background:url(./assets/home/background-home-desktop.jpg) !important;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh;
    width: 100%;
   

    .hero-container{
        padding: 150px 120px 30px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .hero-content{
       max-width: 600px;
       width: 100%;
    }
    .hero-content-1 h1:hover{
        backdrop-filter: blur(10px) !important;
        border-radius: 50%;
        background: rgba(14, 14, 57, 0.256);
        color: #fff;
        transform: scale(1.1);
    }
    .hero-content h2{
        color: #fff;
        font-size: 2.5rem;
        font-weight: 400;
        /* word-spacing: 10px; */
        margin: 0;
        padding: 0;
    }
    .hero-content h1{
        color: #fff;
        /* padding: 50px; */
        font-size: 10rem;
        font-weight: 400;
        font-family: 'Bellefair', serif;
        margin: 8px 0px 20px;
    }
    .hero-content p{
        color: #fff;
        line-height: 40px;
        font-size: 1.5rem;

}
.hero-content-1{
    margin-right: 80px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
.hero-content-1 h1{
    padding: 100px 60px 100px;
    border-radius: 50%;
    background: #fff;
    color: rgb(21, 21, 48);
    font-family: 'Bellefair', serif;
    font-size: 3rem;
    transition: transform .8s ease-in-out ,color .5s ease-in-out;
}


}


/* home page ends */



/* destination page starts */

.destination-container{
    background: url(./assets/destination/background-destination-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh !important;
    width: 100%;

    .nav-container nav{
        /* background: red; */
        /* width: 100%; */
        backdrop-filter: blur(5px);
        background: none !important;
        /* padding: 30px 30px 30px;
        border-radius: 15px; */
    }
    .destination-heading-container{
        padding: 110px 120px 0px;
        
    }

    .destination-cont{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
    }
    .space-image{
        max-width: 600px;
        width: 100%;
    }
    .space-image h1{
        font-size: 1.8rem;
        color: #fff;
        font-weight:500px ;
        text-align: center;
        word-spacing: 5px;
        margin-bottom: 50px;
    }
    .space-image h1 span{
        backdrop-filter: blur(5px);
        color: rgb(139, 139, 170)!important;
        margin-right: 10px;

    }
    .space-image img{
        max-width: 400px;
        width: 100%;
        margin:20px auto 0px 98px;
    }
    .space-content{
        max-width: 700px;
        width: 100%;
        text-align: start;
        max-height: 600px;
        height: 100%;
    }
    .space-name{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .space-content h1{
        font-size: 8rem;
        font-family: 'Bellefair', serif;
        font-weight: 500;
        margin: 40px 0px 40px;
        color: #fff;
    }
    .planet a{
        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 20px;
        margin-left: 0;
        padding-left:0 ;
        position: relative;
    }
     .active ::before{
        position: absolute !important;
        content: '';
        width: 100%;
        background-color: #fff;
        height: 2px;
        top: 150%;

    }
    .planet a:hover::before{
        position: absolute !important;
        content: '';
        width: 100%;
        background-color: #fff;
        height: 2px;
        top: 150%;

    }
    .distance-description{
        display: flex;
        align-items: center;
        gap: 100px;
    }
    .space-content .distance p{
        font-size: 1.3rem;
        color: #fff;
        margin-bottom: 20px;

    }
    .distance-description{
        position: relative;
    }
    .distance-description::before{
        position: absolute !important;
        content: '';
        width: 100%;
        background-color: #fff;
        filter: blur(3px) !important;
        height: 1px;
        top: -21%;
    }
    .distance h2{
        font-size: 1.8rem;
        color: #fff;
        font-family: 'Bellefair', serif;
        /* margin-bottom: 20px; */
        letter-spacing: 5px;
    }
    .space-content p{
        font-size: 1.5rem;
        color: #fff;
        margin-bottom: 50px;
        line-height: 35px;
    }

}   


 /* destination page ends */ 

                /* crew container start */
.crew-container{
    background: url(./assets/crew/background-crew-desktop.jpg) !important;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh !important;
    width: 100%;
 
   
    nav{
        /* background: red; */
    
        backdrop-filter: blur(100px);
        background: rgba(115, 114, 114, 0.256);
        /* padding: 30px 30px 30px;
        border-radius: 15px; */
    }
    
    .crew-hero-container{
        padding: 40px 160px 0px;
        display: flex;
        gap: 200px;
        
    }
    .crew-content-cont h2{
        color: rgb(95, 94, 92) !important;
        font-size: 2.5rem;
        font-family: 'Bellefair', serif;
    }
    .crew-content-cont{
        max-width: 600px;
        width: 100%;
    }
    .crew-content-cont h1{
        font-size: 3.5rem;
        font-weight: 500;
        color: #fff;
        margin: 20px 0px 40px;
        font-family: 'Bellefair', serif;
    }
    .crew-content-cont p:first-child{
        color: #fff;
        line-height: 35px;
        margin-bottom: 20px;
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
    .crew-content-cont p span{
        backdrop-filter: blur(5px);
        color: rgb(95, 94, 92) !important;
        margin-right: 10px;
        font-weight:500;
    }
    .crew-content-cont p{
        color: #fff;
        line-height: 35px;
        margin-bottom: 140px;
        font-size: 1.5rem;
    }
    .crew-links{
         display: flex;
         gap: 20px;
         align-items: center;
    }
    .crew-links a{
        background: #fff;
        border-radius: 50%;
        padding:10px;
    }
    .crew-links a:hover{
        background: rgb(139, 139, 170)!important;
    }
    .crew-links a:focus,
    .crew-links a:hover:active{
        background: rgb(139, 139, 170)!important;
    }
    .crew-image img{
        max-width: 450px;
        width: 100%;
        max-height: 600px;
        height: 100%;
        margin-top: 40px;
    }
    
}
.crew-engineer{
    .crew-image img{
        margin-top: 60px;
    }
}
.crew-specialist{
    .crew-content-cont p{
        margin-bottom: 90px;
        font-size: 1.5rem;
    }
}
.crew-pilot{
    .crew-content-cont p{
        margin-bottom: 90px;
        font-size: 1.5rem;
    }
}


                /* crew container ends */
                
                /* TECHNOLOGY CONTAINER STARTS */
.tech-page{
    background: url(./assets/technology/background-technology-desktop.jpg) !important;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 100vh ;
    width: 100%;


    .tech-crew-container h1 span{
        backdrop-filter: blur(5px);
        color: rgb(95, 94, 92) !important;
        margin-right: 10px;
        font-weight:500;
    
    }
    .tech-crew-container h1{
        color: #fff;
        margin-left: 100px;
        font-size: 1.5rem;
        font-family: 'Bellefair', serif;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin-top: 80px;
    
    }
    .technology-container{
      padding: 40px 70px 0px !important;
      display: flex;
      align-items: center !important;
      justify-content: flex-start;
      gap: 200px;
}
.tech-pages{
    display: block;
    
}
    .tech-pages a{
        padding: 30px 35px 30px;
        border-radius: 50%;
        border: 1px solid #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px ;
        color: #fff;
        font-size: 1.2rem;
        
    }
    .tech-pages a:hover{
        background: #fff;
        color:rgb(6, 6, 32);
        transition: color .4s ease-in-out;
    }
    .tech-cont{
        display: flex;
        gap: 40px;
        max-height:500px ;
        width: 100%;
        max-width: 650px !important;
        width: 100%;
    }
.tech-image img{
    /* max-width: 1400px;
    width: 100%;
    max-height: 900px;
    height: 100%; */
    border-radius: 20px;
}
.tech-content p:first-child{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom:10px ;
}
.tech-content h1{
    color: #fff;
    font-size: 3.3rem;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    margin: 30px 0px 40px;
}
.tech-content p:last-child{
    color: #fff;
    font-size: 1.3rem;
    line-height: 32px;
    margin: 0!important;
}

}
.tech-spaceport {
    .technology-container{
        gap: 200px;
    }
}
                /* TECHNOLOGY CONTAINER ENDS */







 /* animations  start*/
 .rotate-center {
	-webkit-animation: rotate-center 8s linear infinite both;
	        animation: rotate-center 8s linear infinite both;
}

@keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }



  .fade-in-bottom-a {
	-webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .8s both;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) .8s both;
}
.fade-in-bottom-b {
	-webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}
.fade-in-bottom-c {
	-webkit-animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}


@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }

  .scale-up-center {
	-webkit-animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2.5s both;
}

@keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
 /* animation ends */




 /* resposiveness */


 @media screen and (max-width:1440px) and (min-width:1201px){
    .nav-container{
        display: flex;
        gap: 300px;
        align-items: center;
    }
    nav ul{
        gap: 50px;
    }
    .crew-hero-container{
        padding: 40px 120px 0px !important;
        display: flex;
        gap: 60px;
    }
    .space-image img{
        max-width: 400px;
        width: 100%;
        margin:0px auto 0px 38px !important;
    }
    .crew-content-cont{
        max-width: 450px !important;
        width: 100%;
    }
    .crew-content-cont p:first-child{
        color: #fff;
        line-height: 35px;
        margin-bottom: 0px !important;
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
    .crew-content-cont p{
            margin-bottom: 40px !important;
        }
    .crew-engineer{
        .crew-image img{
            margin-top: 110px!important;
        }
    }
    .crew-image img{
        margin-top: 110px !important;
    }
    .crew-specialist{
        .crew-content-cont p:last-child{
            margin-bottom: 0px ;
            font-size: 1.5rem;
        }
        .crew-image img{
            margin-top: 150px!important;
        }
        .crew-content-cont h1{
            margin: 20px 0px 20px;
        }
    }
    .crew-pilot{
        .crew-content-cont p{
            margin-bottom: 90px;
            font-size: 1.5rem;
        }
        .crew-image img{
            margin-top: 1550px;
        }
    }
    .technology-container{
        gap: 40px!important;
    }
    .tech-image img{
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        height: 100%;
        border-radius: 20px;
    }
    .destination-heading-container{
        padding: 80px 60px 0px!important;
        
    }
    .hero-container{
        padding: 80px 80px 30px;
    }
    .hero-content-1{
        margin-right: 0px !important;
    }
    .hero-content{
        max-width: 600px;
        width: 100%;
     }
     .logo:before{
        position: absolute;
        height: 1px;
        backdrop-filter: blur(50px);
        background: #aeacac;
        content: '';
        top: 50%;
        left: 150%;
        width: 1050%;
        z-index: 100;
        display: none;
    }
 }




 @media screen and (max-width:1201px) and (min-width:971px){
    .nav-container{
        display: flex;
        gap: 200px;
        align-items: center;
    }

    .logo:before{
        position: absolute;
        height: 1px;
        backdrop-filter: blur(50px);
        background: #aeacac;
        content: '';
        top: 50%;
        left: 150%;
        width: 1050%;
        z-index: 100;
        display: none;
    }
    nav ul{
        gap: 25px;
    }
    .crew-hero-container{
        padding: 40px 80px 0px !important;
        display: flex;
        gap: 30px !important;
    }
    .space-image img{
        max-width: 400px;
        width: 100%;
        margin:0px auto 0px 38px !important;
    }
    .crew-content-cont{
        max-width: 450px !important;
        width: 100%;
    }
    .crew-content-cont p:first-child{
        color: #fff;
        line-height: 35px;
        margin-bottom: 0px !important;
        font-size: 1.8rem;
        letter-spacing: 5px;
    }
    .crew-content-cont p{
            margin-bottom: 40px !important;
        }
    .crew-engineer{
        .crew-image img{
            margin-top: 110px!important;
        }
    }
    .crew-image img{
        margin-top: 110px !important;
    }
    .crew-container{
        header{
            padding: 60px 0px 0px 60px
        }
    }

    .crew-specialist{
        .crew-content-cont p:last-child{
            margin-bottom: 0px ;
            font-size: 1.5rem;
        }
        .crew-image img{
            margin-top: 150px!important;
        }
        .crew-content-cont h1{
            margin: 20px 0px 20px;
        }
    }
    .crew-pilot{
        .crew-content-cont p{
            margin-bottom: 90px;
            font-size: 1.5rem;
        }
        .crew-image img{
            margin-top: 1550px;
        }
    }
    .technology-container{
        gap: 40px!important;
    }
    .tech-image img{
        max-width: 600px;
        width: 100%;
        max-height: 500px;
        height: 100%;
        border-radius: 20px;
    }
    .destination-heading-container{
        padding: 80px 60px 0px!important;
        
    }
    .hero-container{
        padding: 80px 40px 30px !important;
        
    }
    .hero-content-1{
        margin-right: 0px !important;
    }
    .hero-content{
        max-width: 500px!important;
        width: 100%;
     }
}
 @media screen and (max-width:970px){
    body{
        overflow: scroll !important;
        height: 100%;
    }
    .destination-container, .crew-container, .tech-page {
        height: 100% !important;
    }
    .menu{
        display: block;
        position: absolute;
        transform: translate(-10%, -3%);
        right: 6%;
        z-index: 1000;
    }
    .menu svg:last-child{
        display: none;
    }
    
    nav{
        display:none  ;
        position: absolute !important;
        top: 0;
        right: 0;
        width: 50%;
        height: 100vh;
        backdrop-filter: blur(110px);
        /* background-color: rgb(24, 24, 61); */
        z-index: 1000;
    }

    nav ul{
        display: flex;
        align-items: center;
        flex-direction:column ;
        justify-content:center;
        gap: 100px;
        padding-top:150px ;
    }
    .logo:before{
        position: absolute;
        height: 1px;
        backdrop-filter: blur(50px);
        background: #aeacac;
        content: '';
        top: 50%;
        left: 150%;
        width: 900%;
        z-index: 100;
        display: none;
    }
    .destination-container{

        .hero-container{
            display: flex;
            align-items:center !important;
            flex-direction: column;
            justify-content: center;
            padding: 60px auto 20px !important;
        }
        .hero-content{
            max-width: 550px!important;
            width: 100%;
         }
         .hero-content-1{
            margin-right: 0px;
            /* margin-bottom: 10px; */
            cursor: pointer;
            
        }
        .hero-content h1{
            color: #fff;
            /* padding: 50px; */
            font-size: 5rem !important;
            font-weight: 400;
            font-family: 'Bellefair', serif;
            margin: 8px 0px 20px;
        }
        header{
            padding: 60px 0px 0px 30px;
        }
        .destination-cont{
            display: flex !;
            align-items: center!important;
            flex-direction: column !important;
            gap: 30px !important;
        }
        .destination-heading-container{
            padding: 10px 10px 0px !important;
            text-align: center !important;
            
        }
        .space-image img{
            max-width: 250px !important;
            width: 100%!important;
            margin: 0px auto 0px !important;
        }
        .space-content{
            max-width: 500px;
            width: 100%;
            text-align: center !important;
            /* max-height: 600px; */
            height: 100% !important;
        }
        .space-name{
            display: flex !important;
            align-items: center!important;
            gap: 30px !important;
            margin-top: 10px!important;
            justify-content: center !important;
        }
        .space-content h1{
            font-size: 6rem !important;
            font-family: 'Bellefair', serif;
            font-weight: 500;
            margin: 30px 0px 30px !important;
            padding: 0!important;
            color: #fff;
        }
        .planet{
            text-align: center !important;
        }
        .space-content p{
            font-size: 1.1rem;
            color: #fff;
            margin-bottom: 30px !important;
            line-height: 35px;
        }
        .planet a{
            color: #fff;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 20px;
            margin-left: 0;
            padding-left:0 ;
            position: relative;
            text-align: center!important;
        }
        .distance-description{
            position: relative;
           display: flex;
           justify-content: center !important;
            align-items: center;
            gap: 50px;
        }

        .distance-description::before{
            position: absolute !important;
            content: '';
            width: 100%;
            background-color: #fff;
            filter: blur(3px) !important;
            height: 1px;
            top: -1%;
        }

    }
    .crew-container{
        background: url(./assets/crew/background-crew-tablet.jpg)!important;
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 

        .crew-hero-container{
            display: flex;
            flex-direction: column-reverse !important;
            justify-content: center !important;
            align-items: center !important;
            gap: 80px;
        }
        header{
            padding: 60px 0px 0px 30px;
        }
        .crew-image img{
            max-width: 300px;
            width: 100%;
            max-height: 600px;
            height: 100%;
            margin-top: 40px;
        }
        .crew-hero-container{
            padding: 30px 40px 0px;
            display: flex;
            gap: 90px;
            text-align: center;
            
        }
        .crew-content-cont{
            max-width: 500px;
            width: 100%;
        }
        .crew-links{
            display: flex;
            gap: 20px;
            align-items: center;
            position: absolute;
            top: 69%;
            left: 40%;
            /* transform: translate(10%, 90%); */

       }
       .crew-content-cont p:first-child{
        position: absolute;
        top: 11%;
        
       }
    }
       .crew-engineer{
        .crew-image img{
            margin-top: 60px;
        }
        .crew-links{
            position: absolute;
            top: 60%;
            left: 40%;
        }
    }
    .crew-specialist{
        .crew-content-cont p{
            margin-bottom: 90px;
            font-size: 1.5rem;
        }
        .crew-links{
            position: absolute;
            top:75%;
            left: 40%;
        }
    }
    .crew-pilot{
        .crew-content-cont p{
            margin-bottom: 90px;
            font-size: 1.5rem;
        }
        .crew-links{
            position: absolute;
            top: 65%;
            left: 40%;
        }

    }


    .tech-page{
        height: 100%!important;
        background: url(./assets/technology/background-technology-desktop.jpg);
        background-position: center;
        background-repeat: no-repeat; 
        background-size: cover; 

        .technology-container{
            padding: 40px 70px 200px !important;
            display: flex;
            align-items: center !important;
            flex-direction: column-reverse;
            gap: 40px;
            height: 100% !important;
    }
    header{
        padding: 60px 0px 0px 30px;
    }
    .tech-pages{
        display: flex;
        gap: 30px;
        text-align: center !important;
        justify-content: center !important;
        
    }
    .tech-image img{
        max-width: 600px !important;
        width: 100%;
        max-height: 390px !important;
        height: 100%;
        border-radius: 20px;
    }
    .tech-cont{
        display: block;
        gap: 40px;
        max-height:500px ;
        width: 100%;
        max-width: 650px !important;
        width: 100%;
    }
    .tech-content{
        text-align: center;
        margin-bottom:160px !important;
    }
    .tech-content p:first-child{
        color: #fff;
        font-size: 1.3rem;
        margin:0;
    }
    .tech-content p:last-child{
        color: #fff;
        font-size: 1.2rem;
        line-height: 32px;
        margin: 0!important;
        padding-bottom:0px !important;
    }
    .tech-crew-container h1{
        color: #fff;
        font-size: 3.3rem;
        font-family: 'Bellefair', serif;
        letter-spacing: 10px;
        text-transform: uppercase;
        margin: 30px 0px 30px !important;
    
    }
    .tech-crew-container h1{
        text-align: center !important;
    }
}
        
.home-container{
    /* height: 100vh; */
    background:url(./assets/home/background-home-tablet.jpg);
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
    .hero-container{
        padding: 60px 60px 30px!important ;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .hero-content{
        max-width: 600px;
        width: 100%;
        text-align: center;
     }
     .hero-content-1{
        text-align: center;
        margin: 0!important;
     }
     .hero-content-1 h1{
        margin: 0   !important;
     }
     .hero-content h1{
        color: #fff;
        /* padding: 50px; */
        font-size: 7rem;
        font-weight: 400;
        font-family: 'Bellefair', serif;
        margin: 4px 0px 10px !important;
    }
}

 }